@keyframes cloud {
    0%{
       background-position: 0 0;
    }
    100% {
       background-position: 3000px 0;
   }
 }

 @keyframes island {
    0%{
        top: 74%;
    }
    100% {
        top: 76%;
   }
 }
 
 @keyframes sim {
    0%{
        top: 53%;
    }
    100% {
        top: 55%;
   }
 }