// FONT family: Galmuri14, sans-serif;
// mixin
@mixin dsp-flex {
    display: flex;
    justify-content: space-between;
 }
 @mixin position-ab($left : 50% ,$top : 50%) {
    position: absolute;
    left : $left;
    top : $top;
    transform: translate(-50%,-50%);
 }
 
 // 변수
 $white-color : #fff;
 $main-color : #e2edff;
 $sub-color : #466da7;
 $sub-color2 : rgb(124, 133, 255);
 $sub-color-pink : rgb(254, 137, 164);
 
 body,html {
   scroll-behavior: smooth;
 }
 body {
    overflow-x: hidden;
    cursor: none;
 }
 a,button {
   cursor: none;
 }
// mouse
 .mouse {
   position: fixed;
   left: 50%;
   top: 50%;
   width: 30px;
   height: 30px;
   background-image: url(../img/mouse-1.png);
   background-repeat: no-repeat;
   background-size: contain;
   transform: translate(-50%,-50%);
   pointer-events: none;
   z-index: 9999;
}
// main
 #main {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
 
    div {
       .bg-cloud {
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          width: 100vw;
          height: 100vh;
          background: url('../img/그레인구름.jpg')0 center / 120% repeat-x;
          background: {
             size: cover;
             attachment: fixed;
          };
          animation: cloud 100s linear infinite alternate-reverse;
          z-index: 1;
       }
       .bg-island {
         @include position-ab();
          width: 124rem;
          height: 100%;
          z-index: 5;
          transition: .2s;

          div {
            display: inline-block;
            animation: island 1s linear infinite alternate;
          }
          span {
             display: inline-block;
          }
          .island-base {
             @include position-ab($top : 74%);
             width: 60rem;
             height: 28rem;
             background: url('../img//땅_03.png')center center no-repeat;
             background-size: cover;
             animation: island 2s linear infinite alternate;
          }
          .island-sim {
            @include position-ab($top : 53%);
            width: 6rem;
            height: 9rem;
            background: url('../img/픽셀-sim2.gif')center center no-repeat;
            background-size: cover;
            animation: sim 2s linear infinite alternate;
          }
       }
    }
    .title {
       @include position-ab;
       width: 124rem;
       height: 100%;
       z-index: 6;
 
       span {
          display: inline-block;
          width: 40%;
          height: 10rem;
 
       }
       .title-1 {
          @include position-ab($left : 35% ,$top : 20%);
          background: url('../img/8비트-이름_03.png')center center no-repeat;
          background-size: contain;

          &::before {
            content: '';
            background: url('../img/');
          }
       }
       .title-2 {
          @include position-ab($left : 68% ,$top : 35%);
          background: url('../img/8비트-제목_03.png')center center no-repeat;
          background-size: contain;
       }
    }
    p {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      font : {
         size: 1.6rem;
         weight: 600;
      }
      color: $white-color;
      z-index: 6;
    }
 }
 /* wrap */
 #wrap {
    @include dsp-flex;
    position: relative;
    
    // aside
    header {
       position: sticky;
       left: 0;
       top: 0;
       width: 15rem;
       height: 100vh;
       padding: 1.5rem;
       box-sizing: border-box;
       background:url('../img/헤더헤더2.jpg')0 center no-repeat;
       background-size: cover;
       overflow: hidden;
 
       nav {
          ul {
             display: flex;
             flex-flow: column nowrap;
             justify-content: space-between;
             align-items: center;
             width: 100%;
             height: 85vh;
             padding: 1.5rem 0;
             box-sizing: border-box;
             z-index: 2;
 
             li{   
                  width: 100%;
                  padding: 1rem 0;
                  transition: all .2s ease-in;
                   
                a{
                   display: block;
                   
                   img{
                      display: block;
                      width: 5rem;
                      margin: 0 auto;
                      transition: transform .1s ease-in-out;
                   }
                   p{
                      margin: .5rem 0 0 0;
                      text : {
                         align : center;
                         transform: uppercase;
                      }
                      font: {
                         size : 1.6rem;
                         weight : 900;
                      }
                      color: $white-color;
                      transition: all .2s ease-in;
                   }
                }
             }
          }
          h3 {
             padding: 2rem 0;
             box-sizing: border-box;
             font-size: 2rem;
             text : {
               align: center;
               transform: uppercase;
             }
             background-color: rgba(255,255,255, 0.2);
             backdrop-filter: blur(2px);
             border-radius: 2rem;
          }
       }
    }
    .active {
      color: blue;
    }
 }

  // container 
  #container {
    width: calc(100% - 15rem);
    overflow-x: hidden;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
 
    // section
    section {
       width: 100%;
       height: 100vh;
    }
    #about {
      position: relative;
      z-index: 0;

      .about-modal-bg {
         display: none;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100vh;
         background-color: rgba(0,0,0,0.4);
         z-index: 1;
      }
      .skillsOpen {
         padding: 1rem;
         background-color: pink;
      }

      .about-skills{
         display: none;
         @include position-ab;
         width: 80rem;
         transform: translate(-50%,-50%);
         border-radius: 20px;
         z-index: 2;
         background-color: $white-color;
         padding: 0 0 3rem 0;
         box-sizing: border-box;
         background-color: $main-color;
         
         div:nth-of-type(1) {
            position: relative;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: $sub-color;

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               left: 1rem;
               top: 50%;
               transform: translateY(-50%);
               width: 8.3rem;
               height: 2rem;
               // background-color: rgb(124, 133, 255);
               // background-color: rgb(255, 124, 124);
               background-color: $sub-color-pink;
               border-radius: 1rem;
               z-index: 1;
            }

            span {
               position: relative;
               padding: 1rem 2rem;
               box-sizing: border-box;
               font : {
                  size: 20px;
                  style: italic;
               }
               color: $white-color ;  
               z-index: 2;
            }
         }
         
         .skills-inner{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            box-sizing: border-box;

            // skills list
            ul {
               display: flex;
               flex-direction: column;
               align-items: center;
               flex-wrap: nowrap;
               border: 1px solid red;

               li {

                  h4 {

                  }
                  span {
                     display: block;
                     width: 5rem;
                     height: 5rem;
                     border: 1px solid red;
                  }
                  &:nth-of-type(1) {
                     background: url(../img/icon_html.png)center center no-repeat;
                     background-size: contain;
                  }
                  &:nth-of-type(2) {
                     background: url(../img/icon_css3.png)center center no-repeat;
                     background-size: cover;
                  }
                  &:nth-of-type(3) {
                     background: url(../img/scss.svg)center center no-repeat;
                     background-size: cover;
                  }
                  &:nth-of-type(4) {
                     background: url(../img/Photoshop.png)center center no-repeat;
                     background-size: cover;
                  }
                  &:nth-of-type(5) {
                     background: url(../img/Illustrator.png)center center no-repeat;
                     background-size: cover;
                  }
                  &:nth-of-type(6) {
                     background: url(../img/Js.png)center center no-repeat;
                     background-size: cover;
                  }
                  &:nth-of-type(7) {
                     background: url(../img/figma.png)center center no-repeat;
                     background-size: cover;
                  }
                  &:nth-of-type(8) {
                     background: url(../img/github.svg)center center no-repeat;
                     background-size: cover;
                  }
               }
            }

            dl {
               display: flex;
               flex-direction: column;
               align-items: center;

               dt{
                  width: 25rem;
                  height: 34rem;
                  background: url(../img/이모지-.gif)center center no-repeat;
                  background-size: cover;
                  border-radius: 20px;

                  img {
                     height: 100%;
                     object-fit: cover;
                  }
               }
               dd {
                  width: 100%;
                  padding: .5rem 0;
                  margin: .5rem 0 0 0;
                  box-sizing: border-box;
                  border: 1px solid red;
               }
            }
         }

         .skillsClose {
            display: block;
            position: absolute;
            right: .5rem;
            bottom: .5rem;
            padding: 1rem 2rem;
            box-sizing: border-box;
            color: $sub-color;
            font-size: 15px;
            font-style: italic;

            &:hover {
               color: $sub-color-pink;
            }

            &:hover::after {
               width: 80%;
            }

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               right: 1.5rem;
               bottom: .5rem;
               height: .3rem;
               width: 0%;
               background-color: $sub-color-pink;
               transition: width .1s ease-in-out;
            }
         }
      }
    }
 }  
 
 // footer
 footer {
    height: 100vh;
    background-color: $main-color;
 }