@charset "UTF-8";
body, html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  cursor: none;
}

a, button {
  cursor: none;
}

.mouse {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  background-image: url(../img/mouse-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}
#main div .bg-cloud {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background: url("../img/그레인구름.jpg") 0 center/120% repeat-x;
  background-size: cover;
  background-attachment: fixed;
  animation: cloud 100s linear infinite alternate-reverse;
  z-index: 1;
}
#main div .bg-island {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 124rem;
  height: 100%;
  z-index: 5;
  transition: 0.2s;
}
#main div .bg-island div {
  display: inline-block;
  animation: island 1s linear infinite alternate;
}
#main div .bg-island span {
  display: inline-block;
}
#main div .bg-island .island-base {
  position: absolute;
  left: 50%;
  top: 74%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 28rem;
  background: url("../img//땅_03.png") center center no-repeat;
  background-size: cover;
  animation: island 2s linear infinite alternate;
}
#main div .bg-island .island-sim {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 9rem;
  background: url("../img/픽셀-sim2.gif") center center no-repeat;
  background-size: cover;
  animation: sim 2s linear infinite alternate;
}
#main .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 124rem;
  height: 100%;
  z-index: 6;
}
#main .title span {
  width: 40%;
  height: 10rem;
}
#main .title .title-1 {
  position: absolute;
  left: 35%;
  top: 20%;
  transform: translate(-50%, -50%);
  background: url("../img/8비트-이름_03.png") center center no-repeat;
  background-size: contain;
}
#main .title .title-2 {
  position: absolute;
  left: 68%;
  top: 35%;
  transform: translate(-50%, -50%);
  background: url("../img/8비트-제목_03.png") center center no-repeat;
  background-size: contain;
}
#main p {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  z-index: 6;
}

/* wrap */
#wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#wrap header {
  position: sticky;
  left: 0;
  top: 0;
  width: 15rem;
  height: 100vh;
  padding: 1.5rem;
  box-sizing: border-box;
  background: url("../img/헤더헤더2.jpg") 0 center no-repeat;
  background-size: cover;
  overflow: hidden;
}
#wrap header nav ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 85vh;
  padding: 1.5rem 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  z-index: 2;
}
#wrap header nav ul li {
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s ease-in;
}
#wrap header nav ul li a {
  display: block;
}
#wrap header nav ul li a img {
  display: block;
  width: 5rem;
  margin: 0 auto;
  transition: transform 0.1s ease-in-out;
}
#wrap header nav ul li a p {
  margin: 0.5rem 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 900;
  color: #466da7;
  transition: all 0.2s ease-in;
}
#wrap header nav .header-text-change {
  margin: 3rem 0 0 0;
  color: #466da7;
  font-size: 1.8rem;
  font-family: Galmuri14, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

#container {
  width: calc(100% - 15rem);
  overflow-x: hidden;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#container section {
  width: 100%;
  height: 100vh;
}
#container #about {
  position: relative;
  z-index: 0;
}
#container #about .about-modal-bg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#container #about .skillsOpen {
  padding: 1rem;
  background-color: pink;
}
#container #about .about-skills {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 2;
  background-color: #e2edff;
}
#container #about .about-skills .about-skills-title {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #466da7;
}
#container #about .about-skills .about-skills-title::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 7rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: url(../img/star-yellow.png) center center no-repeat;
  background-size: contain;
}
#container #about .about-skills .about-skills-title span {
  position: relative;
  padding: 1rem 2rem;
  box-sizing: border-box;
  font-size: 2rem;
  font-style: italic;
  color: #fff;
  z-index: 2;
}
#container #about .about-skills .skills-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box;
}
#container #about .about-skills .skills-inner ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
#container #about .about-skills .skills-inner ul li {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
}
#container #about .about-skills .skills-inner ul li span {
  width: 5rem;
  height: 5rem;
}
#container #about .about-skills .skills-inner ul li span img {
  width: 5rem;
  height: 5rem;
}
#container #about .about-skills .skills-inner ul li p {
  position: relative;
  width: 35rem;
  height: 1.5rem;
  margin: 0 0 0 2rem;
  border-radius: 1rem;
  background-color: #fff;
}
#container #about .about-skills .skills-inner ul li p::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 1rem;
  background-color: #466da7;
  height: 1.5rem;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(n+3):nth-of-type(-n+8) img {
  border-radius: 1rem;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(1) p::after {
  animation: photoShopGage 1.6s forwards;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(2) p::after {
  animation: AiGage 1.6s forwards;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(3) p::after {
  animation: HtmlGage 2.5s forwards;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(4) p::after {
  animation: CssGage 2s forwards;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(5) p::after {
  animation: ScssGage 1.7s forwards;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(6) p::after {
  animation: JsGage 1s forwards;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(7) p::after {
  animation: FigmaGage 1.6s forwards;
}
#container #about .about-skills .skills-inner ul li:nth-of-type(8) p::after {
  animation: GithubGage 1.6s forwards;
}
#container #about .about-skills .skills-inner .skills-right {
  display: flex;
}
#container #about .about-skills .skills-inner .skills-right .motions {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 0;
}
#container #about .about-skills .skills-inner .skills-right .motions button {
  width: 5rem;
  height: 5rem;
  margin: 0 0 1rem 0;
  border-radius: 1rem;
}
#container #about .about-skills .skills-inner .skills-right .motions button:nth-of-type(1) {
  background: url(../img/normal.png) center center no-repeat;
  background-size: contain;
}
#container #about .about-skills .skills-inner .skills-right .motions button:nth-of-type(2) {
  background: url(../img/Dash.png) center center no-repeat;
  background-size: contain;
}
#container #about .about-skills .skills-inner .skills-right .motions button:nth-of-type(3) {
  background: url(../img/Dance.png) center center no-repeat;
  background-size: contain;
}
#container #about .about-skills .skills-inner .skills-right .motions button:hover {
  box-shadow: 0 0 0 0.2rem #466da7;
}
#container #about .about-skills .skills-inner .skills-right dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container #about .about-skills .skills-inner .skills-right dl dt {
  width: 25rem;
  height: 35rem;
  background: url(../img/이모지-normal.gif) center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  transition: background 0.1s ease-in;
}
#container #about .about-skills .skills-inner .skills-right dl dd {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.5rem 0 0 0;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  background-color: #fff;
}
#container #about .about-skills .skillsClose {
  display: block;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  border-radius: 3rem;
  color: #fff;
  background-color: #466da7;
  transition: background 0.2s ease-in;
  font-size: 2rem;
  font-style: italic;
}
#container #about .about-skills .skillsClose:hover {
  color: #466da7;
  background-color: #e2edff;
}

footer {
  height: 100vh;
  background-color: #e2edff;
}/*# sourceMappingURL=main.css.map */