// FONT family: Galmuri14, sans-serif;
// mixin
@mixin dsp-flex {
    display: flex;
    justify-content: space-between;
 }
 @mixin position-ab($left : 50% ,$top : 50%) {
    position: absolute;
    left : $left;
    top : $top;
    transform: translate(-50%,-50%);
 }
 
 // 변수
 $white-color : #fff;
 $main-color : #e2edff;
 $sub-color : #466da7;
 $sub-color2 : rgb(124, 133, 255);
 $sub-color-pink : rgb(254, 137, 164);
 
 body,html {
   scroll-behavior: smooth;
 }
 body {
    overflow-x: hidden;
    cursor: none;
 }
 a,button {
   cursor: none;
 }
// mouse
 .mouse {
   position: fixed;
   left: 50%;
   top: 50%;
   width: 30px;
   height: 30px;
   background-image: url(../img/mouse-1.png);
   background-repeat: no-repeat;
   background-size: contain;
   transform: translate(-50%,-50%);
   pointer-events: none;
   z-index: 9999;
}
// main
 #main {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
 
    div {
       .bg-cloud {
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          width: 100vw;
          height: 100vh;
          background: url('../img/그레인구름.jpg')0 center / 120% repeat-x;
          background: {
             size: cover;
             attachment: fixed;
          };
          animation: cloud 100s linear infinite alternate-reverse;
          z-index: 1;
       }
       .bg-island {
         @include position-ab();
          width: 124rem;
          height: 100%;
          z-index: 5;
          transition: .2s;

          div {
            display: inline-block;
            animation: island 1s linear infinite alternate;
          }
          span {
             display: inline-block;
          }
          .island-base {
             @include position-ab($top : 74%);
             width: 60rem;
             height: 28rem;
             background: url('../img//땅_03.png')center center no-repeat;
             background-size: cover;
             animation: island 2s linear infinite alternate;
          }
          .island-sim {
            @include position-ab($top : 53%);
            width: 6rem;
            height: 9rem;
            background: url('../img/픽셀-sim2.gif')center center no-repeat;
            background-size: cover;
            animation: sim 2s linear infinite alternate;
          }
       }
    }
    .title {
       @include position-ab;
       width: 124rem;
       height: 100%;
       z-index: 6;
 
       span {
          width: 40%;
          height: 10rem;
 
       }
       .title-1 {
          @include position-ab($left : 35% ,$top : 20%);
          background: url('../img/8비트-이름_03.png')center center no-repeat;
          background-size: contain;
       }
       .title-2 {
          @include position-ab($left : 68% ,$top : 35%);
          background: url('../img/8비트-제목_03.png')center center no-repeat;
          background-size: contain;
       }
    }
    p {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      font : {
         size: 1.6rem;
         weight: 600;
      }
      color: $white-color;
      z-index: 6;
    }
 }
 /* wrap */
 #wrap {
    @include dsp-flex;
    position: relative;
    
    // aside
    header {
       position: sticky;
       left: 0;
       top: 0;
       width: 15rem;
       height: 100vh;
       padding: 1.5rem;
       box-sizing: border-box;
       background:url('../img/헤더헤더2.jpg')0 center no-repeat;
       background-size: cover;
       overflow: hidden;
 
       nav {
          ul {
             display: flex;
             flex-flow: column nowrap;
             justify-content: space-between;
             height: 85vh;
             padding: 1.5rem 0;
             box-sizing: border-box;
             background-color: rgb(255, 255, 255, 0.5);
             border-radius: 2rem;
             z-index: 2;
 
             li{   
                  width: 100%;
                  padding: 1rem 0;
                  box-sizing: border-box;
                  text-align: center;
                  transition: all .2s ease-in;
                   
                a{
                   display: block;
                   
                   img{
                      display: block;
                      width: 5rem;
                      margin: 0 auto;
                      transition: transform .1s ease-in-out;
                   }
                   p{
                      margin: .5rem 0 0 0;
                      text : {
                         align : center;
                         transform: uppercase;
                      }
                      font: {
                         size : 1.6rem;
                         weight : 900;
                      }
                      color: $sub-color;
                      transition: all .2s ease-in;
                   }
                }
             }
          }
         .header-text-change {
             margin: 3rem 0 0 0;
             color: $sub-color;
             font : {
               size: 1.8rem;
               family: Galmuri14, sans-serif;
             }
             text : {
               align: center;
               transform: uppercase;
             }
          }
       }
    }
 }

  // container 
  #container {
    width: calc(100% - 15rem);
    overflow-x: hidden;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
 
    // section
    section {
       width: 100%;
       height: 100vh;
    }
    #about {
      position: relative;
      padding: 2rem 2rem 0 0;
      box-sizing: border-box;
      z-index: 0;

      .about-modal-bg {
         display: none;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100vh;
         background-color: rgba(0,0,0,0.4);
         z-index: 1;
      }
      .about-inner {
         background-color: $main-color;
         border-top-right-radius: 2rem;
         height: 100%;

         .skillsOpen {
            padding: 1rem;
            background-color: pink;
         }
      }
      .about-skills{
         display: none;
         @include position-ab;
         width: 80rem;
         transform: translate(-50%,-50%);
         border-radius: 20px;
         z-index: 2;
         background-color: $main-color;
         
         .about-skills-title {
            position: relative;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: $sub-color;

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               left: 7rem;
               top: 50%;
               transform: translateY(-50%);
               width: 2rem;
               height: 2rem;
               background: url(../img/star-yellow.png)center center no-repeat;
               background-size: contain;
            }

            span {
               position: relative;
               padding: 1rem 2rem;
               box-sizing: border-box;
               font : {
                  size: 2rem;
                  style: italic;
               }
               color: $white-color ;  
               z-index: 2;
            }
         }
         
         .skills-inner{
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 2rem;
            box-sizing: border-box;

            // skills list
            ul {
               display: flex;
               flex-direction: column;
               align-items: center;
               flex-wrap: nowrap;

               li {
                  display: flex;
                  align-items: center;
                  margin: 0 0 1rem 0;

                  span {
                     width: 5rem;
                     height: 5rem;
                     img {
                        width: 5rem;
                        height: 5rem;
                     }
                  }

                  p {
                     position: relative;
                     width: 35rem;
                     height: 1.5rem;
                     margin: 0 0 0 2rem;
                     border-radius: 1rem;
                     background-color: $white-color;

                     &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: 1rem;
                        background-color: $sub-color;
                        height: 1.5rem;
                     }
                  }
               }
               li:nth-of-type(n+3):nth-of-type(-n+8) img {
                  border-radius: 1rem;
               }
               li:nth-of-type(1) p::after {
                  animation: photoShopGage 1.6s forwards;
               }
               li:nth-of-type(2) p::after {
                  animation: AiGage 1.6s forwards;
               }
               li:nth-of-type(3) p::after {
                  animation: HtmlGage 2.5s forwards;
               }
               li:nth-of-type(4) p::after {
                  animation: CssGage 2s forwards;
               }
               li:nth-of-type(5) p::after {
                  animation: ScssGage 1.7s forwards;
               }
               li:nth-of-type(6) p::after {
                  animation: JsGage 1s forwards;
               }
               li:nth-of-type(7) p::after {
                  animation: FigmaGage 1.6s forwards;
               }
               li:nth-of-type(8) p::after {
                  animation: GithubGage 1.6s forwards;
               }
            }

            .skills-right {
               display: flex;

               .motions {
                  display: flex;
                  flex-direction: column;
                  margin: 0 1rem 0 0;

                  button {
                     width: 5rem;
                     height: 5rem;
                     margin: 0 0 1rem 0;
                     border-radius: 1rem;

                     &:nth-of-type(1) {
                        background:url(../img/normal.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:nth-of-type(2) {
                        background:url(../img/Dash.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:nth-of-type(3) {
                        background:url(../img/Dance.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:hover {
                        box-shadow: 0 0 0 .2rem $sub-color;
                     }
                  }
               }
               
               dl {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
   
                  dt{
                     width: 25rem;
                     height: 35rem;
                     background: url(../img/이모지-normal.gif)center center no-repeat;
                     background-size: cover;
                     border-radius: 20px;
                     transition: background .1s ease-in;
                  }
                  dd {
                     width: 100%;
                     padding: .5rem 0;
                     margin: .5rem 0 0 0;
                     text-align: center;
                     box-sizing: border-box;
                     border-radius: .5rem;
                     font-size: 1.6rem;
                     background-color: $white-color;
                  }
               }
            }
         }

         .skillsClose {
            display: block;
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            padding: .8rem 1rem;
            box-sizing: border-box;
            border-radius: 3rem;
            color: $white-color;
            background-color: $sub-color;
            transition: background .2s ease-in;
            font : {
               size: 2rem;
               style: italic;
            }
            &:hover {
               color: $sub-color;
               background-color: $main-color;
            }
         }
      }
    }
 }  
 
 // footer
 footer {
    height: 100vh;
    background-color: $main-color;
 }