// FONT family: Galmuri14, sans-serif;
// mixin
@mixin elementSize($width, $height){
   width: $width;
   height: $height;
}
@mixin dsp-flex {
    display: flex;
    justify-content: space-between;
 }
 @mixin position-ab($left : 50% ,$top : 50%) {
    position: absolute;
    left : $left;
    top : $top;
    transform: translate(-50%,-50%);
 }
 @mixin font($fSize, $fStyle : normal, $fWeight : bold){
   font-size: $fSize;
   font-style: $fStyle;
   font-weight: $fWeight;
 }
 // 변수
 $white-color : #fff;
 $sub-color : #e2edff;
 $main-color : #74a9ec;
 $sub-color-pink : rgb(254, 137, 164);
 
 body,html {
   scroll-behavior: smooth;
 }
 body {
    overflow-x: hidden;
    cursor: none;
 }
 a,button {
   cursor: none;
 }
// mouse
 .mouse {
   position: fixed;
   left: 50%;
   top: 50%;
   @include elementSize($width:3rem, $height:3rem);
   background-image: url('../img/mouse-1.png');
   background-repeat: no-repeat;
   background-size: contain;
   transform: translate(-50%,-50%);
   pointer-events: none;
   z-index: 9999;
}
.mouseFocus {
   position: fixed;
   left: 50%;
   top: 50%;
   @include elementSize($width:3rem, $height:3rem);
   background-image: url('../img/mouse-2.png');
   background-repeat: no-repeat;
   background-size: contain;
   transform: translate(-50%,-50%);
   pointer-events: none;
   z-index: 9999;
}

// main
 #main {
    position: relative;
    @include elementSize($width:100%, $height:100vh);
    z-index: 0;
    overflow: hidden;
 
    div {
       .bg-cloud {
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          @include elementSize($width:100vw, $height:100vh);
          background: url('../img/그레인구름.jpg')0 center / 120% repeat-x;
          background: {
             size: cover;
             attachment: fixed;
          };
          animation: cloud 100s linear infinite alternate-reverse;
          z-index: 1;
       }
       .bg-island {
          @include position-ab();
          @include elementSize($width:124rem, $height:100%);
          z-index: 5;
          transition: .2s;

          .island-base {
             @include position-ab($top : 70%);
             @include elementSize($width:60rem, $height:35rem);
             background: url('../img/island.gif')center center no-repeat;
             background-size: cover;
             animation: island 2s linear infinite alternate;
          }
       }
    }
    .title {
       @include position-ab;
       @include elementSize($width:124rem, $height:100%);
       z-index: 6;
 
       span {
          width: 40%;
          height: 10rem;
       }
       .title-1 {
          @include position-ab($left : 35% ,$top : 20%);
          background: url('../img/8비트-이름_03.png')center center no-repeat;
          background-size: contain;
          animation: title-1 1s alternate forwards;
       }
       .title-2 {
          @include position-ab($left : 68% ,$top : 35%);
          background: url('../img/8비트-제목_03.png')center center no-repeat;
          background-size: contain;
          animation: title-2 1s alternate forwards;
       }
    }
    p {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      font : {
         size: 1.6rem;
         weight: 600;
      }
      color: $white-color;
      z-index: 6;
    }
 }
 /* wrap */
 #wrap {
    @include dsp-flex;
    position: relative;
    
    // aside
    header {
       position: sticky;
       left: 0;
       top: 0;
       @include elementSize($width:15rem, $height:100vh);
       padding: 1.5rem;
       box-sizing: border-box;
       background:url('../img/헤더.jpg')0 center no-repeat;
       background-size: cover;
       overflow: hidden;
 
       nav {
          ul {
             @include dsp-flex();
             flex-flow: column nowrap;
             height: 85vh;
             padding: 1.5rem 0;
             box-sizing: border-box;
             background-color: rgb(255, 255, 255, 0.5);
             border-radius: 2rem;
             z-index: 2;
 
             li{   
                  width: 100%;
                  padding: 1rem 0;
                  box-sizing: border-box;
                  text-align: center;
                  transition: all .2s ease-in;
                   
                a{
                   display: block;
                   
                   img{
                      display: block;
                      width: 5rem;
                      margin: 0 auto;
                      transition: transform .1s ease-in-out;
                   }
                   p{
                      margin: .5rem 0 0 0;
                      text : {
                         align : center;
                         transform: uppercase;
                      }
                      font: {
                         size : 1.6rem;
                         weight : 900;
                      }
                      color: $main-color;
                      transition: all .2s ease-in;
                   }
                }
             }
          }
         .header-text-change {
             margin: 3rem 0 0 0;
             color: $main-color;
             @include font($fSize : 2.5rem);
             text : {
               align: center;
               transform: uppercase;
             }
          }
       }
    }
 }

  // container 
  #container {
    width: calc(100% - 15rem);
    overflow-x: hidden;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
 
    // section
    section {
       width: 100%;
       height: 100vh;
       padding: 3rem;
       box-sizing: border-box;
    }
    #profile {
      position: relative;
      z-index: 0;

      .profile-modal-bg {
         display: none;
         position: absolute;
         left: 0;
         top: 0;
         @include elementSize($width:100%, $height:100vh);
         background-color: rgba(0,0,0,0.4);
         backdrop-filter: blur(.5rem);
         z-index: 5;
      }
      .profile-inner {
         display: flex;
         flex-direction: column;
         position: relative;
         height: 100%;

         .profile-inner-top {
            @include dsp-flex();
            height: 45%;
            border : {
               top-left-radius: 2rem;
               top-right-radius: 2rem;
            }
            background-color: $sub-color;
            overflow: hidden;
            
            div:nth-of-type(1) { 
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               width: 70%;
               padding: 2rem;
               box-sizing: border-box;

               h2 {
                  @include font($fSize : 5rem, $fStyle : italic);
                  text-transform: uppercase;
                  color: $main-color;
               }

               div {
                  padding: 0rem;
                  white-space: nowrap;

                  span {
                     padding: 2rem;
                     box-sizing: border-box;
                     border-radius: 2rem;
                     white-space: nowrap;
                     color: $main-color;
                     background-color: $white-color;
                     @include font($fSize : 2rem, $fWeight : 600);
                  }
                  ul{
                     display: flex;
                     margin: 2rem 0 0 0;
   
                     li {
                        padding: 1rem;
                        margin: 0 1rem 0 0;
                        box-sizing: border-box;
                        border-radius: 2rem;
                        @include font($fSize : 1.3rem, $fWeight : 500);
                        color: $main-color;
                        background-color: $white-color;
                     }
                  }
               }
            }
            div:nth-of-type(2) {
               position: relative;
               width: 30%;

               span{
                  position: absolute;
                  right: 0;
                  @include elementSize($width:30rem, $height:100%);
                  background: url(../img/이모지.png)center center no-repeat;
                  background-size: cover;
               }
               &::before {
                  content: '';
                  display: inline-block;
                  position: absolute;
                  right: -20%;
                  top: 0;
                  @include elementSize($width : 35rem, $height : 100%);
                  background-color: $main-color;
                  transform: skew(-20deg);
               }
            }
         }
         .profile-inner-bottom {
            padding: 0 0 1rem 0;
            box-sizing: border-box;
            
            p {
               padding: 1rem 2rem;
               box-sizing: border-box;
               background-color: $main-color;
               color: $white-color;
               border-top: .4rem double $sub-color;
               border-bottom: .4rem double $sub-color;
            }
            div {
               display: grid;
               grid-template-columns: repeat(3, 1fr);

               dl {
                  dt {
                     margin: 2rem 0;
                     h4 {
                        text-align: center;
                        @include font($fSize: 3rem);
                        text-transform: uppercase;
                        color: $main-color;
                     }
                  }
                  dd {
                     margin: 2rem;
                     white-space: nowrap;
                     em {
                        margin: 0 3rem 0 0;
                        @include font($fSize: 2rem);
                        color: $main-color;
                     }
                     span {
                        font-size: 1.5rem;
                     }
                  }
               }
            }
            .about {
               dd:nth-of-type(1){
                  em {
                     margin: 0 3.2rem 0 0;
                  }
                  span {
                     font-weight: 500;
                     text-decoration: underline wavy pink;
                  }
                 }
              dd:nth-of-type(2){
               em {
                  margin: 0 4rem 0 0;
               }
              }
            }
         }
         .skillsOpen {
            display: block;
            position: absolute;
            right: 5%;
            bottom: 6%;
            @include elementSize($width : 5rem,$height : 8rem);
            background: url(../img/지팡이.png)center center no-repeat;
            background-size: cover;
            animation: skillsBtn 0.5s ease infinite alternate;

            &::before {
               content: 'skills';
               display: inline-block;
               position: absolute;
               bottom: 0;
               text-transform: uppercase;
               @include font($fSize : 1.4rem,$fStyle : italic);
               color: $main-color;
               background-color: rgba(255, 255, 255, 0.9);
               padding: 1rem;
               border-radius: 2rem;
            }
          }
      }
      .profile-skills{
         display: none;
         @include position-ab;
         width: 80rem;
         transform: translate(-50%,-50%);
         border-radius: 20px;
         z-index: 6;
         background-color: $sub-color;
         
         .profile-skills-title {
            position: relative;
            border : {
               top-left-radius: 20px;
               top-right-radius: 20px;
            }
            background-color: $main-color;

            &::after {
               content: '';
               display: inline-block;
               position: absolute;
               left: 7rem;
               top: 50%;
               transform: translateY(-50%);
               @include elementSize($width:2rem, $height:2rem);
               background: url(../img/star-yellow.png)center center no-repeat;
               background-size: contain;
            }
            span {
               position: relative;
               padding: 1rem 2rem;
               box-sizing: border-box;
               font : {
                  size: 2rem;
                  style: italic;
               }
               color: $white-color ;  
               z-index: 2;
            }
         }
         
         .skills-inner{
            @include dsp-flex();
            position: relative;
            padding: 2rem;
            box-sizing: border-box;

            // skills list
            ul {
               display: flex;
               align-items: center;
               flex : {
                  direction: column;
                  wrap: nowrap;
               }

               li {
                  display: flex;
                  align-items: center;
                  margin: 0 0 1rem 0;

                  span {
                     @include elementSize($width:5rem, $height:5rem);
                     img {
                        @include elementSize($width:5rem, $height:5rem);
                     }
                  }

                  p {
                     position: relative;
                     @include elementSize($width:35rem, $height:1.5rem);
                     margin: 0 0 0 2rem;
                     border-radius: 1rem;
                     background-color: $white-color;

                     &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: 1rem;
                        background-color: $main-color;
                        height: 1.5rem;
                     }
                  }
               }
               li:nth-of-type(n+3):nth-of-type(-n+8) img {
                  border-radius: 1rem;
               }
               li:nth-of-type(1) p::after {
                  animation: photoShopGage 1.6s forwards;
               }
               li:nth-of-type(2) p::after {
                  animation: AiGage 1.6s forwards;
               }
               li:nth-of-type(3) p::after {
                  animation: HtmlGage 2.5s forwards;
               }
               li:nth-of-type(4) p::after {
                  animation: CssGage 2s forwards;
               }
               li:nth-of-type(5) p::after {
                  animation: ScssGage 1.7s forwards;
               }
               li:nth-of-type(6) p::after {
                  animation: JsGage 1s forwards;
               }
               li:nth-of-type(7) p::after {
                  animation: FigmaGage 1.6s forwards;
               }
               li:nth-of-type(8) p::after {
                  animation: GithubGage 1.6s forwards;
               }
            }

            .skills-right {
               display: flex;

               .motions {
                  display: flex;
                  flex-direction: column;
                  margin: 0 1rem 0 0;

                  button {
                     @include elementSize($width:5rem, $height:5rem);
                     margin: 0 0 1rem 0;
                     border-radius: 1rem;

                     &:nth-of-type(1) {
                        background:url(../img/normal.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:nth-of-type(2) {
                        background:url(../img/Dash.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:nth-of-type(3) {
                        background:url(../img/Dance.png)center center no-repeat;
                        background-size: contain;
                     }
                     &:hover {
                        box-shadow: 0 0 0 .2rem $main-color;
                     }
                  }
               }
               
               dl {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
   
                  .changeMotion-normal {
                     @include elementSize($width:25rem, $height:35rem);
                     background: url(../img/이모지-normal.gif)center center no-repeat;
                     background-size: cover;
                     border-radius: 20px;
                     transition: background .1s ease-in;
                  }
                  .changeMotion-dash {
                     @include elementSize($width:25rem, $height:35rem);
                     background: url(../img/이모지-dash.gif)center center no-repeat;
                     background-size: cover;
                     border-radius: 20px;
                     transition: background .1s ease-in;
                  }
                  .changeMotion-dance {
                     @include elementSize($width:25rem, $height:35rem);
                     background: url(../img/이모지-dance.gif)center center no-repeat;
                     background-size: cover;
                     border-radius: 20px;
                     transition: background .1s ease-in;
                  }
                  dd {
                     width: 100%;
                     padding: .5rem 0;
                     margin: .5rem 0 0 0;
                     text-align: center;
                     box-sizing: border-box;
                     border-radius: .5rem;
                     font-size: 1.6rem;
                     background-color: $white-color;
                  }
               }
            }
         }

         .skillsClose {
            display: block;
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            padding: .8rem 1rem;
            box-sizing: border-box;
            border-radius: 3rem;
            color: $white-color;
            background-color: $main-color;
            transition: background .2s ease-in;
            @include font($fSize : 2rem, $fStyle : italic, $fWeight : 500);

            &:hover {
               color: $main-color;
               background-color: $sub-color;
            }
         }
      }
    }
 }  
 
 // footer
 footer {
    height: 100vh;
    background-color: $sub-color;
 }